<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444723023529-gbd8sj856igrdlgciqbgl14b1veb95rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444723023529-gbd8sj856igrdlgciqbgl14b1veb95rh</string>
	<key>API_KEY</key>
	<string>AIzaSyCRxvInQVuojtAP_Wc-kHWxmauhgR1KPys</string>
	<key>GCM_SENDER_ID</key>
	<string>444723023529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patico</string>
	<key>PROJECT_ID</key>
	<string>f149-70a52</string>
	<key>STORAGE_BUCKET</key>
	<string>f149-70a52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444723023529:ios:d453bb31a059431ebf63b8</string>
</dict>
</plist>